<html>
  <head>
    <link href="https://f.v1.n0.cdn.getcloudapp.com/items/1J0Y1N1I441v1E2k3e2W/weather.png" rel="icon">
    <link href="./css/styles.css" rel="stylesheet" />
    <title>{{title}}</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel felis vitae odio ullamcorper faucibus eu eu nisi. Vestibulum maximus eu urna ut bibendum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non venenatis elit. Donec nec interdum turpis, in mattis dui. Nunc scelerisque auctor blandit. Integer maximus bibendum ipsum, nec maximus orci molestie vitae. Integer sodales vehicula leo, vel cursus velit vestibulum non. Vestibulum cursus vehicula consequat.
      </p><p>
      Nullam eros metus, molestie et eleifend non, condimentum ut felis. Nullam lectus mauris, imperdiet in pellentesque at, commodo ut urna. Suspendisse a ipsum magna. Proin blandit lobortis velit a blandit. Sed sit amet iaculis nibh, et porta quam. Aenean faucibus diam lacus, vitae porta ligula semper nec. Pellentesque consectetur auctor ante eu porttitor. Vivamus pretium ligula sed quam efficitur hendrerit. Donec non quam suscipit, lacinia lorem ac, varius ligula.
      </p><p>
      Nullam id risus volutpat, varius nulla at, varius odio. Vestibulum sem odio, congue a leo ut, egestas volutpat sem. In pellentesque at turpis eu eleifend. Fusce venenatis arcu nec massa convallis fringilla in non nisi. Integer tortor tortor, ornare ac imperdiet at, aliquam sed tortor. Maecenas sit amet vestibulum ex. Maecenas non cursus est. Cras sem risus, porttitor a arcu egestas, rhoncus commodo neque. Fusce lacinia semper volutpat. Proin sed pulvinar mi, non faucibus odio. Quisque sodales diam nec tincidunt sollicitudin.
      </p><p>
      Phasellus feugiat lectus nec massa vehicula euismod. Etiam efficitur ullamcorper risus, id lacinia justo euismod sit amet. Cras nec enim magna. Praesent nec nunc at ipsum sollicitudin feugiat a quis nibh. Sed arcu leo, lacinia sed magna et, sodales viverra ipsum. Nam ut mollis magna, quis dignissim tortor. Nulla facilisi. Quisque ac risus urna. Phasellus placerat tellus augue. Praesent faucibus tempor turpis, eu sodales diam condimentum eget. Donec nec tincidunt lorem.
      </p><p>
      Fusce facilisis sed enim at mattis. Donec dignissim arcu ligula, id tincidunt turpis ornare quis. Quisque quis dolor nibh. Nullam ultricies nec mi non lacinia. Mauris congue rutrum mollis. Etiam id diam elit. In ac elit massa. Maecenas facilisis ac sapien non vehicula. Vestibulum in sagittis quam, eu fermentum est. Morbi et augue eros. Donec ac leo ac mi commodo semper sit amet in risus. Aenean malesuada ante nec elit dictum posuere.    </div>
      </p>
    </div>
    {{>footer}}
  </body>
</html>