<html>
  <head>
    <link href="https://f.v1.n0.cdn.getcloudapp.com/items/1J0Y1N1I441v1E2k3e2W/weather.png" rel="icon">
    <link href="./css/styles.css" rel="stylesheet" />
    <script src="./js/app.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <div class="div main-content">
      {{>header}}
      <h2>{{message}}</h2>
    </div>
    {{>footer}}
  </body>
</html>